*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.wrapper{
    margin-top: 150px;
}


#slider{
	margin: 0 auto;
}


.slide_image{ 
	width: 20%;

}

#text_slider{
    height: 50px;
    max-width: 700px;
    width: 50%;
    overflow: hidden;
    padding-top: 10px;
}


#slides .image{ 
	width: 500%;
	line-height: 0;
	display: flex;
}

#text_slider .text{ 
	width: 500%;
	line-height: 0;
	display: flex;
   
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

.slide_image img{ 
	width: 100%;
}

.mem_text{
	width: 100%;
    color: white;
}

#slider{ 
	max-width: 700px; 
}

label, a{ 
	cursor: pointer;
}

label{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.wrapper input{
	display: none;
}


#btn1:checked ~ #slides .image{
	margin-left: 0;
}

#btn2:checked ~ #slides .image {
	margin-left: -100%;
}

#btn3:checked ~ #slides .image{
	margin-left: -200%;
}

#btn4:checked ~ #slides .image{
	margin-left: -300%;
}

#btn5:checked ~ #slides .image{
	margin-left: -400%;
}


#btn1:checked ~ #navigation .text{
	margin-left: 0;
}

#btn2:checked ~ #navigation .text {
	margin-left: -100%;
}

#btn3:checked ~ #navigation .text{
	margin-left: -200%;
}

#btn4:checked ~ #navigation .text{
	margin-left: -300%;
}

#btn5:checked ~ #navigation .text{
	margin-left: -400%;
}
